.container {
  position: relative;
}

// Убираем курсор по умолчанию для десктопа
.title {
  cursor: default;
}

.list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, display 0.5s ease;
}

.show {
  max-height: 700px;
}

.hide {
  max-height: 0;
}

// В мобильной версии активируем pointer на заголовке
@media (max-width: 900px) {
  .title {
    cursor: pointer;
  }
}
