.container {
  position: relative;
}

.title {
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: inherit;
    font-weight: inherit;
  }

  .arrow {
    margin-right: 15px;
  }
}

.list {
  display: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.show {
  display: block;
  max-height: 1000px;
  opacity: 1;
}

.hide {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

@media (max-width: 900px) {
  .title {
    cursor: pointer;
  }

  .list {
    display: block;
  }
}

.btnContainer {
  cursor: pointer;
  scale: 0.9;
  background-color: #ffe1e7;
  border-radius: 10px;

  button {
    padding: 4px;
  }

  @media (max-width: 600px) {
    scale: 0.7;
  }
}

.dataContainer {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 5px;
}

.text {
  white-space: normal;
  word-wrap: break-word;
}
